* {
  padding: 0;
  margin: 0;
  border: none;
}
html {
  background-color: #0a0a0a;
  color: #fafafa;
  font-family: 'Helvetica';
}
button, input {
  background-color: transparent;
  color: #fafafa;
  font-size: 1rem;
  cursor: pointer;
}
input {
  width: 5rem;
  border-bottom: 3px solid #2a2a2a;
}
#container {
  padding: 6rem;
}
#controls, #stats {
  margin-bottom: 2rem;
}
#controls > *:not(:first-child), #stats > *:not(:first-child) {
  margin-left: 2rem;
}
#start-btn {
  color: #7ff0c1;
}
#output {
  background-color: #111111;
  border-radius: 1rem;
  padding: 3rem;
}
#bars > *:not(:first-child) {
  margin-top: 1rem;
}
.bar-wrapper {
  display: flex;
  align-items: center;
}
.bar {
  height: 1.5rem;
  background-color: #7ff0c1;
  margin: 0 0.5rem;
}